<div class="container">
    <div class="container-header">
        <div class="header-text">
            <h1>Place to <span>Visit</span></h1>
        </div>
        <div class="header-images">
            <img src="https://www.flaticon.es/svg/static/icons/svg/3930/3930551.svg" alt="">
            <img src="https://www.flaticon.es/svg/static/icons/svg/3930/3930551.svg" alt="">
            <img src="https://www.flaticon.es/svg/static/icons/svg/3930/3930551.svg" alt="">
            <img src="https://www.flaticon.es/svg/static/icons/svg/3930/3930551.svg" alt="">
        </div>
    </div>
    <div class="container-nav">
        <div class="container-image-left">
            <img src="" alt="">
        </div>
        <div class="container-image-right">
            <div class="container-image-right-top">
                <img src="" alt="">
            </div>
            <div class="container-image-right-bottom">
                <img src="" alt="">
            </div>

        </div>

    </div>
</div>