<div class="container">
    <div class="list-cities">
        <ul >
            <li>
                <div class="city-img">
                    <img src="https://www.flaticon.es/svg/static/icons/svg/166/166015.svg" alt="">
                </div>
                <div class="temperature-city">
                    <h1>23</h1>
                </div>
                <div class="name-city">
                    <h2>{{weatherLyon.name}}</h2>
                    <p>{{weatherLyon.sys.country}}</p>
                </div>
            </li>
            <li>
                <div class="city-img">
                    <img src="https://www.flaticon.es/svg/static/icons/svg/166/166015.svg" alt="">
                </div>
                <div class="temperature-city">
                    <h1>23</h1>
                </div>
                <div class="name-city">
                    <h2>{{WeahterParis.name}}</h2>
                    <p>{{WeahterParis.sys.country}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="add-locations">
        <h1>Add locations</h1>
        <img src="https://image.freepik.com/vector-gratis/composicion-isometrica-edificios-ciudad_1284-26159.jpg" alt="">
    </div>
</div>